trigger: none

pool: agent_learn

steps:
  - 

- task: TerraformInstaller@1
  inputs:
    terraformVersion: 'latest'

- task: TerraformTask@5
  inputs:
    provider: 'azurerm'
    command: 'init'
    workingDirectory: '$(System.DefaultWorkingDirectory)/environment/dev'
    backendServiceArm: 'ado_learn'
    backendAzureRmOverrideSubscriptionID: 'ca2d764d-6af0-4ecc-8eaf-76bd3b666806'
    backendAzureRmResourceGroupName: 'rg_learn'
    backendAzureRmStorageAccountName: 'stglearn'
    backendAzureRmContainerName: 'tfstate'
    backendAzureRmKey: 'terraform.tfstate'

- task: TerraformTask@5
  inputs:
    provider: 'azurerm'
    command: 'plan'
    workingDirectory: '$(System.DefaultWorkingDirectory)/environment/dev'
    environmentServiceNameAzureRM: 'ado_learn'